.virtual-list-phantom{
  position: absolute;
  z-index: -1;
  top:0;
  right:0;
  left: 0;
  width: 1px;
}

.view-list-container{
  overflow: auto;
  border: 1px solid black;
  position: relative;
}

.list-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.list-item{
  height:30px;
  box-sizing: border-box;
  padding: 5px;
  line-height: 30px;

}
